# django settings
DEBUG_MODE = TRUE
ALLOWED_HOSTS = 'localhost:8000 127.0.0.1:8000 *'
SECRET_KEY = 'django-insecure-=q6yca-ua&8qzi0!^#rus0wnajae=d_if&1)c0e5l_3vo4nw!s'

# database configuration
DB_NAME = 'hr-board'
DB_HOST = 'localhost'
DB_USER = 'root'
DB_PASSWORD = 'apli-dhapli-1234'
DB_PORT = 3306

# email configuration
EMAIL_HOST_USER=mail@gmail.com
EMAIL_HOST_PASSWORD="xxxx xxxx xxxx xxxx"
EMAIL_PORT = 587
